[submodule "auto-champion-select"]
	path = auto-champion-select
	url = https://github.com/controlado/auto-champion-select
[submodule "buy-champions"]
	path = buy-champions
	url = https://github.com/controlado/buy-champions
[submodule "refund-last-purchase"]
	path = refund-last-purchase
	url = https://github.com/controlado/refund-last-purchase
