[submodule "auto-champion-select"]
	path = auto-champion-select
	url = https://github.com/controlado/auto-champion-select
[submodule "buy-champions"]
	path = buy-champions
	url = https://github.com/controlado/buy-champions
[submodule "refund-last-purchase"]
	path = refund-last-purchase
	url = https://github.com/controlado/refund-last-purchase
[submodule "profile-utils"]
	path = profile-utils
	url = https://github.com/controlado/profile-utils
[submodule "random-champion"]
	path = random-champion
	url = https://github.com/controlado/random-champion.git
